/* Importacion de fuentes */
body{
    font-size: 16px;
  }
  
:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}
.contendImages{
    width: 100vw;
}
.contend_one_section{
    content: ' ';
    display: block;
    width: 100vw;
    height:50vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contend_header{
    color: white;
    font-size: var(--font-big);
    font-family: var(--title-font);
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 12em;
 }
 .contend_header h3{
     color: red;
     font-family: var(--body-font);
     font-weight: 800;
 }
 
 .contend_parrafo{
     color: white;
     font-size: var(--font-big); 
     position: relative;
     align-self: flex-start;
     top: 4em;
 }
 .keep_time{
    color: white;
    position: relative;
    /* top: 2em; */
    font-family: var(--title-font);
    font-size: var(--font-large);
 }
 .keep_time .demension{
     color:red;
 }
.contend_two_section{
    content: ' ';
    display: block;
    width: 100vw;
    height:70vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.parrafo_one_section{
    color: white;
    margin: 1em 0;
}
.Our_indiglo{
    color:white;
    margin: 0 0 1em 0;
}
.background_one{
    background-image: url("../../img/background/Section_background_one.jpeg");
}
.background_two{
    background-image: url("../../img/background/Section_background_two.jpeg");
}
.contend_buttons{
    display: grid;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr 1fr;
}
.contend_buttons .button_add_to_bag{
    padding: 0.7em 4em;
    background-color: white;
    color: black;
    border-radius: 1em;
    font-family: var(--title-font);
    font-size: var(--font-medium);
    height: 4em;
}