/* Importacion de fuentes */

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Ubuntu', sans-serif;
    /* Tamaños de letra */
    --font-small: .6em;
    --font-medium:.8em;
    --font-large: 1em;
    --font-big: 1.2em;
    --font-bigbig: 1.4em;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}

main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_sliderShow{
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100vw;
}
@media screen and (min-width: 768px){
    .img_sliderShow{
        height: 60vh;
    }
}
.main_slider{
    padding: 0;
    border: 0;
    margin: 0;
    width: 100vw;
}

.ShopNow{
    background-color: #000000;
    border-radius: 4px;
    padding: 0.5em;
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: var(--font-large);
    font-weight: 800;
}
.ShopNow > a{
    color:white;
}