/* Importacion de fuentes */

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}


.contend_one_ad{
    background-color: var(--turkey-color);
    color: var(--white-color);
    font-family: var(--title-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: var(--font-small);
    position: relative;
    width: 100vw;
}
.contend_img_ads{
    background: url('../../img/icons/worldwide.png');
    width:2.0rem; 
    height:2.0rem;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center;
}