:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-gris-claro:#c3c3c3;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}
.input_buscar{
    position:absolute;
    left: 0;
    top: 0;
    width:99%;
    padding: 1em 0 1em ;
    display: block;
    border-radius: 14px;
}
.container:focus-within >
.input_buscar:required:focus{
    background: var(--color-gris-claro);
    width: 99%;
}
.container{
    position: relative;
}
.label_buscar::after{
    content: '';
    width: 1.5em;
    height: 1.5em;
    position: relative;
    background: url("../../img/icons/busqueda(2).png");
    display: block;
    /* background-color: red; */
    top: .5em;
    left: -2em;
}
