/* Importacion de fuentes */

:root{
  /* Colors */
  --turkey-color:#00ACB6; 
  --white-color: #FFFFFF; 
  --gray-low-color: #D1D1D4;
  --color-oscurito:#141618;
  --color-header:#bbb8b8;
  /* Fuentes para la Pagina */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Ubuntu', sans-serif;
  /* Tamaños de letra */
  --font-small: .6em;
  --font-medium:.8em;
  --font-large: 1em;
  --font-big: 1.2em;
  --font-bigbig: 1.4em;

  /* Medidas */
  --header-menu-hamburguer:2em;

  /* Variables de apilamiento */
  --z-back: -10; 
  --z-normal: 1; 
  --z-tooltip:10; 
  --z-fixed:100; 
  --z-modal:1000;
}

.wordEcology_one::after{
    content: '';
    display: block;
    margin-left: 0.25em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('../../img/icons/word.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
.Word_Ecology{
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    background:#C3C2BC;
    padding: 1em;
    font-family: var(--body-font);
    font-size: var(--font-large);
  }
.center_conter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShopNow{
  background-color: #000000;
  border-radius: 4px;
  padding: 0.5em;
  width: 6em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-family: var(--title-font);
  font-size: var(--font-large);
  font-weight: 800;
}
.ShopNow{
  color: white;
}