/* Importacion de fuentes */

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}

.ShopNow{
    background-color: #000000;
    border-radius: 4px;
    padding: 0.5em;
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: var(--font-medium);
    font-weight: 800;
}
.button_add_to_bag{
    padding: 0.7em 5em;
    background-color: white;
    color: black;
    font-family: var(--title-font);
    font-size: var(--font-medium);
  }