/* Reset de Estilos */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
  overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* Emezamos con nuestros estilos */
/* Importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap');

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

}

.contend_one_ad{
    background-color: var(--turkey-color);
    color: var(--white-color);
    font-family: var(--title-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: var(--font-small);
}

.contend_img_ads{
    background: url('../img/icons/worldwide.png');
    width:2.0rem; 
    height:2.0rem;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
.section_search{
    background: var(--gray-low-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contend_timex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timex_h2{
    font-family: var(--body-font);
    background-color: var(--white-color);
    padding: 5px 10px;
    font-size: var(--font-large);
    font-weight: 600;
}
.contend_search{
    display:grid; 
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.text_search{
    height: 100%;
    width: 100%;
}
.container {
    position: relative ;
}
.container:focus-within label {
    display: none;
}

.search::after{
    content: ' ';
    display: block;
    position: relative;
    top: -14px;
    left: -26px;
    margin-left: 0.25rem;
    background-image: url('../img/icons/search.png');
    width: 1em;
    height: 1em;
    background-size: contain;
}
.container label{
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    margin-left: 2em;
    font-size: var(--font-medium);
}

.img_user{
    width: 1em;
    height: 1em;
}
.img_shopping{
    width: 1em;
    height: 1em;
}

.contend_images{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: red 2px solid;
    border-right: red 2px solid;
    margin: 0 0.5em;
}
.header_principal{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: green; */
  background-color: white; 
  position: relative;
}
.contend_one{
  font-size: var(--font-big);
  padding: 0.5em;
  font-family: var(--body-font);
  font-weight: 800;
}

.header{
  display: block;
  /* background: red; */
  min-width:100%;
  position: relative;
  z-index: 100;
}
 .nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .menu{
  display: flex;
  justify-content:space-around;
  align-items: center;
  align-content: center;
  list-style: none;
  position: relative;
  background-color: white;
}
.item-2{
  min-height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-2{
  height: 100%;
  position: relative;
  top: 50%;
}

.menu li {
  display: inline-block;
}

.menu > li,
.menu > li > .submenu > li {
  list-style: none;
  padding: 10px;
} 


.link{
  display: inline-block;
  font-size: var(--font-medium);
  text-decoration: none;
  color:#000;
}
.submenu .submenu{
  display: block;
}

.menu .submenu {
  display: none;
}

.menu li.item:hover > ul.submenu {
  display: flex;
  min-width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  min-height: 100%;
  border: 1px solid black;
}
.img_subMenu{
  width: 150px;
}
.contend_img{
  display: flex; 
  flex-direction: column;
  padding: 0 1em ;
}

.submenu{
  flex-direction: row; 
  display: none;
  top:100%;

}
.menu .submenu li {
  width: min-content;
}

.menu-3{
  padding: 0;
  margin: 0;
  border: 0;
  max-height: fit-content;
} 

main{
  overflow: hidden;
}

.img_sliderShow{
  height: 60vh;
}
.main_slider{
  padding: 0;
  border: 0;
  margin: 0;
  width: 99vw;
}

.section_to_mom{
  background: #D33D63;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 3em 0;
}
.to_mom_with{
  text-align: center; 
  font-size: var(--font-big);
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
  font-weight: 800;
}
.to_mom_with_two{
  text-align: center; 
  font-size: var(--font-large);
  display: flex;
  justify-content: center;
  font-family:var(--body-font);
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.to_mom_with_three{
  text-align: center; 
  font-size: var(--font-large);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.button{
  background: white;
  color: black;
  border: 1px solid black;
  width: 10em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
}

.wordEcology_one::after{
  content: '';
  display: block;
  margin-left: 0.25em;
  width: 4.5em;
  height: 4.5em;
  background-image: url('../img/icons/word.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.button_shop{
  background-color: #000;
  color: white;
}

.Word_Ecology{
  display: grid; 
  grid-template-columns: 1fr 2fr 1fr;
  background:#C3C2BC;
  padding: 1em;
}

.center_conter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.two_section_timex{
  background-color: white;
  padding: 2em 4em;
  display: flex; 
  justify-content: space-around;
}

.img_Part_Timex{
  width: 30em;
}

.space{
  padding: 2em;
}

.width_20em{
  width: 20em;
}

.relojTimex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 5px;  */
  width: 18em;
}
.img_timex_one{
  width: 14em;
}

.description{
  font-family: var(--title-font);
  font-size: var(--font-medium);
  color:#AFAFB0;
  padding: 5px 0; 
}

.button_add_to_bag{
  padding: 0.7em 5em;
  background-color: white;
  color: black;
  font-family: var(--title-font);
  font-size: var(--font-medium);
}

.contend_relojes{
display: flex;
}


.contend-1{
  display: flex;
  padding: 0 3em;
}

.contend-2{
  display: flex;
  padding: 2em;
}

.contend-3{
  display: flex;
  padding: 2em;
}

.title_center{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-size: var(--font-large);
}

.contend_relojes{
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
}

.title_contend_img{
  font-size: var(--font-big);
  font-family: var(--title-font);
  padding: 1em;
}
.parrafo{
  font-family: var(--body-font);
  font-weight: 600;
  padding: 0 1em 1em;
}

.contend_two_relojes{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  padding: 5em;
}

.card_relojes_two{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.contend_img_reloj{
  position: relative;
  height: 100%;
  width:  19em;
}
.img_card_reloj{
  width: 19em;
  transition: all 500ms ease-out;
}
.capa{
  position: absolute; 
  top: 0;
  width: 100%;
  height: 100%;

}
.capa:hover{
  background-color: rgba(0,0,0,0.6);
  transition: all 500ms ease-out;
}
.contend_title{
  padding: 1em;
}

.title_rolex{
  font-family: var(--title-font);
  font-size: var(--font-large);
}

.gris{
  background-color: rgba(0,0,0,0.5);
}

.treinta{
  display: grid;
  grid-template-columns: 1fr , 2fr;
}

.parrafoClass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

.section_img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3em 0 ;
  margin: 3em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img_the_section{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.title_img_section{
  color: white;
  position: relative;
  font-family: var(--title-font);
  font-size: 16px;
  width: 13em;
  padding:  0.5em 2em ;
  margin:0  1em;
  border: 1px solid white;
}

.button_section_white{
  color: black;
  align-self: end;
  position: relative;
  font-family: var(--title-font);
  font-size: 16px;
  width: 13em;
  padding:  0.5em 2em ;
  margin:0  1em;
  border: 1px solid white;
}

.watch_video{
  position: relative;
  left: 57em;
  top: -3em;
}

.pie_card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.pie_timex_title{
  font-size:var(--font-bigbig);
  font-family:var(--title-font);
  padding: 1em;
}

.section_cards{
  display: flex; 
  justify-content: space-around;
  width: 100%;
}

.card_pie{
  border-right: 1px solid rgb(190, 184, 184);
  padding:0  2em;
}

.title_card_pie{
  font-family: var(--title-font);
  font-size: var(--font-medium);
  padding: 2em;
}

.subtitle_card{
  font-family:var(--body-font);
  font-size: var(--font-medium);
}

.subsubtitle{
  padding: 5px;
  color: #000;
}
.contend_facebook::after{
  content: " ";
  position: absolute;
  background-image: url('../img/Imagenes/facebook.png');

}