/* Importacion de fuentes */
body{
  font-size: 16px;
}

:root{
  /* Colors */
  --turkey-color:#00ACB6; 
  --white-color: #FFFFFF; 
  --gray-low-color: #D1D1D4;
  --color-oscurito:#141618;
  --color-header:#bbb8b8;
  /* Fuentes para la Pagina */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Ubuntu', sans-serif;
  /* Tamaños de letra */
  --font-small: .6em;
  --font-medium:.8em;
  --font-large: 1em;
  --font-big: 1.2em;
  --font-bigbig: 1.4em;

  /* Medidas */
  --header-menu-hamburguer:2em;

  /* Variables de apilamiento */
  --z-back: -10; 
  --z-normal: 1; 
  --z-tooltip:10; 
  --z-fixed:100; 
  --z-modal:1000;
}
.card_relojes_two{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .contend_img_reloj{
    position: relative;
    width:  100%;
  }
  .img_card_reloj{
    width: 100%;
    transition: all 500ms ease-out;
  }
  .capa{
    position: absolute; 
    top: 0;
    width: 100%;
  }
  .capa:hover{
    background-color: rgba(0,0,0,0.6);
    transition: all 500ms ease-out;
  }
  .contend_title{
    padding: 1em;
  }
  
  .title_rolex{
    font-family: var(--title-font);
    font-size: var(--font-large);
  }

  .center_conter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ShopNow{
  background-color: #000000;
  border-radius: 4px;
  padding: 0.5em;
  width: 6em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-family: var(--title-font);
  font-size: var(--font-medium);
  font-weight: 800;
  }
  .ShopNow{
  color: white;
  }