/* Importacion de fuentes */

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;
    /* Tamaños de letra */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-big: 26px;
    --font-bigbig: 36px;

    /* Medidas */
    --header-menu-hamburguer:2em;

    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}
.card_relojes_two{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .contend_img_reloj{
    position: relative;
    height: 100%;
    width:  19em;
  }
  .img_card_reloj{
    width: 19em;
    transition: all 500ms ease-out;
  }
  .capa{
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
  
  }
  .capa:hover{
    background-color: rgba(0,0,0,0.6);
    transition: all 500ms ease-out;
  }
  .contend_title{
    padding: 1em;
  }
  
  .title_rolex{
    font-family: var(--title-font);
    font-size: var(--font-large);
  }