/* Importacion de fuentes */

:root{
    /* Colors */
    --turkey-color:#00ACB6; 
    --white-color: #FFFFFF; 
    --gray-low-color: #D1D1D4;
    --color-oscurito:#141618;
    --color-header:#bbb8b8;
    /* Fuentes para la Pagina */
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Ubuntu', sans-serif;
    /* Tamaños de letra */
    --font-small: .6em;
    --font-medium:.8em;
    --font-large: 1em;
    --font-big: 1.2em;
    --font-bigbig: 1.4em;
  
    /* Medidas */
    --header-menu-hamburguer:2em;
  
    /* Variables de apilamiento */
    --z-back: -10; 
    --z-normal: 1; 
    --z-tooltip:10; 
    --z-fixed:100; 
    --z-modal:1000;
}
.contend_Img{
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_card_home{
    width: 100vw; 
    height: 100%;
}
.contendButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 3em;
    background: #000000;
    border-radius: 4px;
    margin: 2em;
}
.ShopNow{
    background-color: #000000;
    border-radius: 4px;
    padding: 0 .5em;
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: var(--font-large);
    font-weight: 800;
}
.Large{
    width: 100% !important;
    padding: 0 !important;
}