/* Importacion de fuentes */
body{
  font-size: 16px;
}

:root{
  /* Colors */
  --turkey-color:#00ACB6; 
  --white-color: #FFFFFF; 
  --gray-low-color: #D1D1D4;
  --color-oscurito:#141618;
  --color-header:#bbb8b8;
  /* Fuentes para la Pagina */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Ubuntu', sans-serif;
  /* Tamaños de letra */
  --font-small: .6em;
  --font-medium:.8em;
  --font-large: 1em;
  --font-big: 1.2em;
  --font-bigbig: 1.4em;

  /* Medidas */
  --header-menu-hamburguer:2em;

  /* Variables de apilamiento */
  --z-back: -10; 
  --z-normal: 1; 
  --z-tooltip:10; 
  --z-fixed:100; 
  --z-modal:1000;
}
.relojTimex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5px;  */
    width: 80vw;
  }
  .img_timex_one{
    width: 60vw;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  @media screen and (min-width: 756px){
    .img_timex_one{
      width: 100%;
    }
  }
  .description{
    font-family: var(--title-font);
    font-size: var(--font-medium);
    color:#AFAFB0;
    padding: 5px 0; 
  }
  
.button_add_to_bag{
    padding: 0.7em 5em;
    background-color: white;
    color: black;
    font-family: var(--title-font);
    font-size: var(--font-medium);
  }