/* Importacion de fuentes */
body{
  font-size: 16px;
}

:root{
  /* Colors */
  --turkey-color:#00ACB6; 
  --white-color: #FFFFFF; 
  --gray-low-color: #D1D1D4;
  --color-oscurito:#141618;
  --color-header:#bbb8b8;
  /* Fuentes para la Pagina */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Ubuntu', sans-serif;
  /* Tamaños de letra */
  --font-small: .6em;
  --font-medium:.8em;
  --font-large: 1em;
  --font-big: 1.2em;
  --font-bigbig: 1.4em;

  /* Medidas */
  --header-menu-hamburguer:2em;

  /* Variables de apilamiento */
  --z-back: -10; 
  --z-normal: 1; 
  --z-tooltip:10; 
  --z-fixed:100; 
  --z-modal:1000;
}

.card_formulario{
  width: 100vw;
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_formulario{
  font-family: var(--title-font);
  font-size: var(--font-large);
  font-weight: 600;
  margin: 2em;
  text-align: center;
}
.description_formulario{
  font-family: var(--body-font); 
  font-size: var(--font-large);
  padding: 0 1.5em;
}
.contendformulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_formulario{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  margin: 0.5em;
}
.button_sign_up{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  margin: 0.5em; 
  background-color: #000;
  color: white;
  font-family: var(--title-font);
}
@media screen and (min-width: 756px){
  .title_formulario{
    margin: 2em 1em 1.5em 1em;
  }
  .card_formulario{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 6em;
  }
  .contendformulario{
    position: relative;
    width: 90%;
    /* background-color: yellow; */
    height: 3.5em;
    padding: 0.8em 0;
  }
  .input_formulario{
    position: absolute;
    width: 100%;
    top: 0.3rem;
    /* margin: 0 0.3rem; */
  }
  .button_sign_up{
    width: 90%;
    padding: 0.8em 0;
    margin: 0 2%;
  }
}