/* Importacion de fuentes */
body{
  font-size: 16px;
}

:root{
  /* Colors */
  --turkey-color:#00ACB6; 
  --white-color: #FFFFFF; 
  --gray-low-color: #D1D1D4;
  --color-oscurito:#141618;
  --color-header:#bbb8b8;
  /* Fuentes para la Pagina */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Ubuntu', sans-serif;
  /* Tamaños de letra */
  --font-small: .6em;
  --font-medium:.8em;
  --font-large: 1em;
  --font-big: 1.2em;
  --font-bigbig: 1.4em;

  /* Medidas */
  --header-menu-hamburguer:2em;

  /* Variables de apilamiento */
  --z-back: -10; 
  --z-normal: 1; 
  --z-tooltip:10; 
  --z-fixed:100; 
  --z-modal:1000;
}

.item-2{
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item{
  border: 1px solid var(--color-header);
  padding: 1.5em 2em;
  margin: 0;
  font-size: var(--font-medium);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  font-family: var(--title-font)
}
.link{
  text-decoration: none;
  color: black;
}

.line_one{
  width: 1.2em;
  height: 1.2em;
  position: relative;
  cursor: pointer;
}
.line_one::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%; 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.line_one::after{
  background-image: url("../../img/icons/right-arrow.png");
}
.line_one.active::after{
  background-image: url("../../img/icons/arrow-down-sign-to-navigate.png");
}  

